* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  font-family: "Acme", sans-serif;
}

.card-text {
  font-family: "Baloo 2", cursive;
}

.bg-header {
  background-image: url(../img/lunacerros.jpg);
  image-rendering: optimizeSpeed;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom {
  margin-left: 10px;
}
