/* nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
li {
  margin-right: 1.5rem;

  a {
    color: chocolate;

    &:hover {
      color: cornflowerblue;
    }
  }
}
